 {{title}}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">branch</th>
      <th scope="col">school</th>
      <th scope="col">email</th>
      <th scope="col">phoneNumber</th>
      <th scope="col">whatsappNumber</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
      {{#each Data}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>j{{this.name}}</td>
      <td>{{this.me}}</td>
      <td>{{this.school}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phoneNumber}}</td>
      <td>{{this.whatsappNumber}}</td>
      <td><a href="http://localhost:3000/code123admin/delete/{{this._id}}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>