<form action="/code123admin/logout" method="post"><button type="submit" style="width: 100px;height:100px;position:absolute;top:0;right:0;background-color:rgb(246, 0, 0);justify-content:center;align-items:center;"><p style="color: aliceblue;font-size:20px;">logout</p><br><i class="fa fa-power-off" style="color: aliceblue;font-size:50px;"></i></button></form>
      <div class="main-board">
        <div class="card-board">
          <div class="card">
            <div class="card-icon">
              <i class="fa fa-users"></i>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <span>current server status :</span><br>
            {{#if status}}
            <span id="number" style="color: rgb(0, 255, 60);">Running</span>
            {{else}}
            <span id="number" style="color: rgb(255, 42, 0)">Down</span>
            {{/if}}
          </div>
                    <div class="card">
            <div class="card-icon">
              <i class="fa fa-users"></i>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <span>Number of registered students :</span><br>
            <span id="number">{{count}}</span>
          </div>
                    <div class="card">
            <div class="card-icon">
              <i class="fa fa-users"></i>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <span>Number of registered students :</span><br>
            <span id="number">27</span>
          </div>
                    <div class="card">
            <div class="card-icon">
              <i class="fa fa-users"></i>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <span>Number of registered students :</span><br>
            <span id="number">27</span>
          </div>
        </div>
        <div class="head">
          <div class="head-title">
            <h2>Latest leads :</h2>
          </div>
        </div>
        <div class="student">
          <div class="student-details">
            <ul class="details">
              <li class="topic">Name</li>
              {{#each Data}}
              <li><a href="#">{{this.name}}</a></li>
              {{/each}}
            </ul>
            <ul class="details">
              <li class="topic">PH No.</li>
                {{#each Data}}
                  <li><a href="#">{{this.phoneNumber}}</a></li>
                {{/each}}
            </ul>
            <ul>
              <li class="topic">Address</li>
                {{#each Data}}
                  <li><a href="#">{{this.address}}</a></li>
                {{/each}}
            </ul>
            <ul class="details">
              <li class="topic">Date</li>
                      {{#each Data}}
                      <li>{{this.joindate}}</li> 
                     {{/each}}
            </ul>
          </div>
        </div>
      </div>